flake8==3.3.0
 # Updated pylint version and added astroid dependency to fix Travis
 # failure on Python3 run https://github.com/PyCQA/pylint/issues/1784
pylint==1.7.5
astroid==1.5.3
selenium==3.4.2
sphinx==1.6.1
